.CalculatorView{
    width:100%;
    display:flex;
    justify-content: flex-end;
    font-size: 7rem;
    padding:2.4rem 1.5rem;
    border:solid 1px grey;
    p{
        margin:0;
        padding:0;
    }
    
}